<footer class="footer">
  <small>
    <%= link_to image_tag("logo.jpg", size: "20x20", alt: "Logo"), home_path, id: "logoImage" %>
    copyright <%= Time.new.year %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Log out", logout_path, method: :delete %></li>
    </ul>
  </nav>
  <%= debug(params) if Rails.env.development? %>
</footer>